﻿<!DOCTYPE html>
<html data-ng-app="testGraph">
<head>
    <title>Data Graph</title>
    <script src="angular.js"></script>
    <script src="testGraph.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <link href="testGraph.css" rel="stylesheet" />
    <style>
        input.ng-invalid, select.ng-invalid {
            border-color: red;
        }
    </style>
	<meta charset="utf-8" />
</head>
<body class="container" data-ng-controller="testGraphCtrl">
    <div class="col-xs-12">
        <h1 class="display-1 text-center">Graph</h1>
    </div>
    <div class="col-xs-12 well" >
        <div class="graph" data-ng-class="selectedGraphType" >
            <div class="bar spacer"></div>
            <div data-ng-repeat="column in columns | orderBy:'column.name'" ng-class-even="'even'" ng-class-odd="'odd'" class="bar" 
                 ng-style="{ height: column.height()+'%' }"
                 data-ng-class="column.countryClass()">
            </div>
        </div>
        <div class="captions" data-ng-class="selectedGraphType">
            <div class="caption" data-ng-repeat="column in columns | orderBy:'column.name'"
                  ng-class-even="'even'" ng-class-odd="'odd'">
                <span class="country">{{column.country}}</span>
                <span class="category">{{column.category}}</span>
            </div>
        </div>
    </div>
    <form name="graphForm" novalidate class="panel">
        <fieldset class="form-group col-sm-12">
            <label for="category">Pick graph type: </label>
            <select name="graphType" data-ng-model="selectedGraphType" data-ng-options="t for t in graphTypes" data-ng-change="graphTypeSelected()" class="form-control" required></select>
        </fieldset>
        <fieldset data-ng-show="selectedGraphType==='Countries'" class="form-group col-sm-12">
            <label for="category">Pick category: </label>
            <select name="category" data-ng-model="selectedCategory" data-ng-options="v as v for (v, k) in categories" data-ng-change="categorySelected()" class="form-control" required></select>
        </fieldset>
        <fieldset data-ng-show="selectedGraphType==='Categories'" class="form-group col-sm-6">
            <label for="country1">Pick first Country: </label>
            <select name="country1" data-ng-model="selectedCountry1" data-ng-options="c for c in countries1" data-ng-change="country1Selected()" class="form-control" required></select>
        </fieldset>
        <fieldset data-ng-show="selectedGraphType==='Categories'" class="form-group col-sm-6">
            <label for="country2">Pick second Country: </label>
            <select name="country2" data-ng-model="selectedCountry2" data-ng-options="c for c in countries2" data-ng-change="country2Selected()" class="form-control" required></select>
        </fieldset>
        <div class="clearfix"></div>
    </form>
</body>
</html>
