﻿.captions{
    height: 40px;
    width: 100%;
}
.captions .caption{
    float:left;
    height:100%;
}
.captions span{
    word-wrap: break-word;
}
.captions .even{
    display:none;
}
.caption{
    display: inline-block;
    text-align:center;
}
.graph {
    width: 100%;
    height: 200px;
    border: 1px solid #aeaeae;
    background-color: #eaeaea;
}
.bar {
    margin: 1px;
    display: inline-block;
    position: relative;
    background-color: #aeaeae;
    vertical-align: baseline;
    transition: height 1s, background-color 1s;
    border: 1px solid black;
    border-bottom: 0;
}
.bar.Argentina{
    background-color:yellow;
}
.bar.SouthAfrica{
    background-color:green;
}
.bar.UnitedKingdom{
    background-color:blue;
}
.bar.Chile{
    background-color:red;
}
.bar.SouthSudan{
    background-color: black;
}
.bar.France{
    background-color:white;
}

.graph .bar.spacer {
    height: 100%;
    width: 0;
    padding: 0;
    border: 0;
    margin:0;
}

.Categories .bar {
    width: 6%;
}
.Categories .bar.odd{
    margin-left:2px;
}
.Categories .bar.even{
    margin-left:-2px;
}
.Categories span.country{
    display:none;
}
.Categories .caption{
    width: 12%;
    display:inline-block;
}
.Categories .caption.odd{
    display: none;
}
.Countries .caption {
    display: inline-block;
    text-align:center;
    padding: 2px;
}
.Countries .bar,
.Countries .caption {
    width: 16%;
}
.Countries span.category{
    display:none;
}
